* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.NavigationBar1 {
  height: 90px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.563);
  padding: 0px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  z-index: 1000;
}

@media (max-width: 930px) {
  .NavigationBar1 {
    background-color: black;
  }
}

.NavigationBar1 .NavLeft {
  cursor: pointer;
}

.NavigationBar1 .NavCenter {
  color: white;
}

@media (max-width: 930px) {
  .NavigationBar1 .NavCenter {
    display: none;
  }
}

.NavigationBar1 .NavCenter ol {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.NavigationBar1 .NavCenter ol li {
  margin: 0px 20px;
}

.NavigationBar1 .NavCenter ol li a {
  color: white;
  text-decoration: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-size: 1.05em;
}

.NavigationBar1 .NavCenter ol li a:hover {
  color: yellow;
}

.NavigationBar1 .NAvRight {
  cursor: pointer;
  font-size: 2em;
  color: #fcfc04;
  display: none;
}

@media (max-width: 930px) {
  .NavigationBar1 .NAvRight {
    display: block;
  }
}

.NavigationBar2 {
  width: 100%;
  position: fixed;
  top: 90px;
  background-color: black;
  -webkit-transform: translateY(-500px);
          transform: translateY(-500px);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

@media (min-width: 930px) {
  .NavigationBar2 {
    display: none;
  }
}

.NavigationBar2 ol {
  margin: 0px 50px;
}

.NavigationBar2 ol li {
  font-size: 1.1em;
  padding: 10px 0px;
  border-bottom: 1px solid gray;
}

.NavigationBar2 ol li a {
  color: white;
  text-decoration: none;
  width: 100%;
}

.NavigationBar2 ol li a:hover {
  color: yellow;
}

.select {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.FirstPage {
  height: 100vh;
  width: 100vw;
  background-image: url(./src/images/home-banner.jpg.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.FirstPage .FirstCenter {
  margin-top: 100px;
  height: 250px;
  width: 650px;
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.FirstPage .FirstCenter h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.FirstPage .FirstCenter h4 {
  text-align: center;
  padding: 0px 50px;
  margin-top: -40px;
  line-height: 25px;
  font-size: large;
}

.FirstPage .FirstCenter .gallery {
  color: black;
  padding: 20px;
  background-color: yellow;
  position: absolute;
  bottom: -25px;
  font-weight: bold;
}

.SecondPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 80px 0px;
}

.SecondPage .SecondPageOuter {
  width: 85%;
}

.SecondPage .SecondPageOuter .listItem {
  border: 2px solid rgba(128, 128, 128, 0.207);
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.SecondPage .SecondPageOuter .listItem ol {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.SecondPage .SecondPageOuter .listItem ol li {
  border: 1px solid rgba(128, 128, 128, 0.207);
  padding: 19px;
  cursor: pointer;
  font-size: 1.1em;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.SecondPage .SecondPageOuter .listItem ol li:hover {
  background-color: yellow;
}

.SecondPage .SecondPageOuter .listItem ol .li1 {
  background-color: yellow;
}

.SecondPage .SecondPageOuter .listImages {
  margin: 60px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
}

.SecondPage .SecondPageOuter .listImages .image {
  background-image: url("./src/images/gallery-1.jpg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 735px) {
  .SecondPage .SecondPageOuter .listImages .image {
    width: 100%;
    height: 600px;
  }
}

.SecondPage .SecondPageOuter .listImages .image:hover .black {
  background-color: rgba(0, 0, 0, 0.609);
}

.SecondPage .SecondPageOuter .listImages .image:hover .innertext {
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
}

.SecondPage .SecondPageOuter .listImages .image:hover .innertext .symble {
  visibility: visible;
}

.SecondPage .SecondPageOuter .listImages .image .black {
  height: 100%;
  width: 100%;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.SecondPage .SecondPageOuter .listImages .image .innertext {
  margin-bottom: -90px;
  color: white;
  font-size: 2em;
  text-align: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.SecondPage .SecondPageOuter .listImages .image .innertext > * {
  margin-top: 10px;
}

.SecondPage .SecondPageOuter .listImages .image .innertext .symble {
  visibility: hidden;
}

.SecondPage .SecondPageOuter .listImages .image:nth-child(2) {
  background-image: url("./src/images/gallery-2.jpg.webp");
}

.SecondPage .SecondPageOuter .listImages .image:nth-child(3) {
  background-image: url("./src/images/gallery-3.jpg.webp");
}

.SecondPage .SecondPageOuter .listImages .image:nth-child(4) {
  background-image: url("./src/images/gallery-4.jpg.webp");
}

.SecondPage .SecondPageOuter .listImages .image:nth-child(5) {
  background-image: url("./src/images/gallery-5.jpg.webp");
}

.SecondPage .SecondPageOuter .listImages .image:nth-child(6) {
  background-image: url("./src/images/gallery-6.jpg.webp");
}

.SecondPage .SecondPageOuter .listImages .image:nth-child(7) {
  background-image: url("./src/images/gallery-7.jpg.webp");
}

.SecondPage .SecondPageOuter .listImages .image:nth-child(8) {
  background-image: url("./src/images/gallery-8.jpg.webp");
}

.SecondPage .SecondPageOuter .listImages .image:nth-child(9) {
  background-image: url("./src/images/gallery-9.jpg.webp");
}

.SecondPage .SecondPageOuter .listImages .image:nth-child(10) {
  background-image: url("./src/images/gallery-10.jpg.webp");
}

.SecondPage .SecondPageOuter .listImages .image:nth-child(11) {
  background-image: url("./src/images/gallery-11.jpg.webp");
}

.SecondPage .SecondPageOuter .listImages .image:nth-child(12) {
  background-image: url("./src/images/gallery-12.jpg.webp");
}

.SecondPage .loadImages {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.SecondPage .loadImages .Load {
  background-color: yellow;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
}

.ThirdPage {
  background-color: yellow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 80px;
}

.ThirdPage .ThirdCenter {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1080px) {
  .ThirdPage .ThirdCenter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
}

.ThirdPage .ThirdCenter .Firstdiv {
  width: 35%;
}

.ThirdPage .ThirdCenter .Firstdiv > * {
  margin: 20px 0px;
}

@media (max-width: 1080px) {
  .ThirdPage .ThirdCenter .Firstdiv {
    width: 70%;
  }
}

@media (max-width: 890px) {
  .ThirdPage .ThirdCenter .Firstdiv {
    width: 80%;
  }
}

@media (max-width: 540px) {
  .ThirdPage .ThirdCenter .Firstdiv {
    width: 100%;
  }
}

.ThirdPage .ThirdCenter .Firstdiv p {
  font-size: 1.1em;
}

.ThirdPage .ThirdCenter .Seconddiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  width: 45%;
  padding: 50px;
  background-color: white;
}

@media (max-width: 1080px) {
  .ThirdPage .ThirdCenter .Seconddiv {
    width: 70%;
  }
}

@media (max-width: 890px) {
  .ThirdPage .ThirdCenter .Seconddiv {
    width: 80%;
  }
}

@media (max-width: 740px) {
  .ThirdPage .ThirdCenter .Seconddiv {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 540px) {
  .ThirdPage .ThirdCenter .Seconddiv {
    width: 100%;
  }
}

.ThirdPage .ThirdCenter .Seconddiv .SeconddivFirst .cir {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-image: url("./src/images/test-1.png.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ThirdPage .ThirdCenter .Seconddiv .SeconddivSecond > * {
  margin-bottom: 20px;
}

.ThirdPage .ThirdCenter .Seconddiv .SeconddivSecond p {
  font-size: 1.1em;
  color: gray;
}

.FourthPage {
  padding: 40px 0px;
}

.FourthPage .FourthPageTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.FourthPage .FourthPageTop h1 {
  font-size: 2.5em;
}

.FourthPage .FourthPageTop p {
  color: gray;
}

.FourthPage .FourthPageCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 0px;
  margin: 35px 0px;
}

.FourthPage .FourthPageCenter .box {
  width: 400px;
  border: 2px solid rgba(128, 128, 128, 0.183);
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  margin: 15px;
}

@media (max-width: 885px) {
  .FourthPage .FourthPageCenter .box {
    width: 600px;
  }
}

.FourthPage .FourthPageCenter .box > * {
  margin: 35px 0px;
}

.FourthPage .FourthPageCenter .box:hover {
  background-color: yellow;
}

.FourthPage .FourthPageCenter .box:hover p {
  color: black;
}

.FourthPage .FourthPageCenter .box p {
  font-size: 1.2em;
  color: gray;
  padding: 0px 18px;
}

.FourthPage .FourthPageBottom {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.FourthPage .FourthPageBottom .following {
  border: 2px solid yellow;
  padding: 20px;
  background-color: yellow;
  cursor: pointer;
  font-weight: bold;
}

.FifthPage .FifthPageTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 770px) {
  .FifthPage .FifthPageTop {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.FifthPage .FifthPageTop .img {
  height: 250px;
  width: 200px;
  background-image: url("./src/images/ins-1.jpg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.FifthPage .FifthPageTop .img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.FifthPage .FifthPageTop .img:nth-child(2) {
  background-image: url("./src/images/ins-2.jpg.webp");
}

.FifthPage .FifthPageTop .img:nth-child(3) {
  background-image: url("./src/images/ins-3.jpg.webp");
}

.FifthPage .FifthPageTop .img:nth-child(4) {
  background-image: url("./src/images/ins-4.jpg.webp");
}

.FifthPage .FifthPageTop .img:nth-child(5) {
  background-image: url("./src/images/ins-5.jpg.webp");
}

.FifthPage .FifthPageTop .img:nth-child(6) {
  background-image: url("./src/images/ins-6.jpg.webp");
}

.FifthPage .FifthPageBottom {
  padding: 100px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #19133d;
  color: white;
}

@media (max-width: 745px) {
  .FifthPage .FifthPageBottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.FifthPage .FifthPageBottom .about {
  width: 350px;
  padding: 30px;
}

@media (max-width: 745px) {
  .FifthPage .FifthPageBottom .about {
    width: 80%;
  }
}

.FifthPage .FifthPageBottom .about > * {
  margin-bottom: 30px;
}

.FifthPage .FifthPageBottom .about p {
  font-size: 1.1em;
  color: gray;
}

.FifthPage .FifthPageBottom .about p span {
  color: yellow;
}

.FifthPage .FifthPageBottom .Newsletter {
  width: 350px;
  padding: 30px;
}

@media (max-width: 745px) {
  .FifthPage .FifthPageBottom .Newsletter {
    width: 80%;
  }
}

.FifthPage .FifthPageBottom .Newsletter > * {
  margin-bottom: 30px;
}

.FifthPage .FifthPageBottom .Newsletter p {
  color: gray;
}

.FifthPage .FifthPageBottom .Newsletter .inpOuter {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.FifthPage .FifthPageBottom .Newsletter .inpOuter input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 0px 10px;
}

.FifthPage .FifthPageBottom .Newsletter .inpOuter div {
  height: 100%;
  width: 60px;
  background-color: yellow;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.FifthPage .FifthPageBottom .following {
  width: 350px;
  padding: 30px;
}

@media (max-width: 1090px) {
  .FifthPage .FifthPageBottom .following {
    width: 80%;
  }
}

.FifthPage .FifthPageBottom .following > * {
  margin-bottom: 30px;
}

.FifthPage .FifthPageBottom .following p {
  color: gray;
}

.FifthPage .FifthPageBottom .following ol {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 70px;
}

.FifthPage .FifthPageBottom .following ol li {
  margin-right: 20px;
  cursor: pointer;
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

.FifthPage .FifthPageBottom .following ol li:hover {
  color: yellow;
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}
/*# sourceMappingURL=style.css.map */